/* Navbar*/
.container-fluid {
    background-color: rgba(0, 255, 157, 0.6);
    position: relative;
    border: ridge;
}
/* Slideshow*/

#slideshow {
    margin: auto;
    position: relative;
    width: 100%;
    height: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#slideshow > div {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

/* Artice Find*/


.findGym {
    padding-top: 25px;
    position: relative;
    background-color: #fafafa;
}

/*  Footer  */


.social-links {
    display: flex;
    background-color:rgba(0, 255, 157, 0.6) ;
}